---
import { ClientRouter } from "astro:transitions";
interface HeaderProps {
  title: string;
}
const { title } = Astro.props as HeaderProps;
---

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{title}</title>
  <ClientRouter />
  <meta content={title} property="og:title" />
  <meta content={title} property="twitter:title" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/" rel="preconnect" />
  <link
    href="https://fonts.gstatic.com/"
    rel="preconnect"
    crossorigin="anonymous"
  />
  <link
    href="/assets/favicon-32x32.png"
    rel="shortcut icon"
    type="image/x-icon"
  />
  <link href="/assets/favicon-32x32.png" rel="apple-touch-icon" />
</head>
