---
const { title, desc, tech, href } = Astro.props;
---

<div class="single-item">
  <a href={href} class="no-underline no-underline:hover" target="_blank" rel="noopener noreferrer">
  <h3>{title}</h3>
</a>
  <div class="project-desc project-desc-list w-richtext">
    <ul role="list">
      {desc.map(item => <li>{item}</li>)}
    </ul>
  </div>
  <div class="mini-label-white">Technologies &amp; tools</div>
  <div class="chips-container">
    {tech.map(techItem => <div class="single-chip">{techItem}</div>)}
  </div>
</div>

<style>
  .no-underline {
    text-decoration: none;
    color: inherit;
  }
  
  .no-underline:hover {
    text-decoration: none; /* Optional: add underline on hover */
  }
</style>