---
interface Props {
  title: string;
  desc: string[];
  tech: string[];
  href: string;
}

const { title, desc, tech, href } = Astro.props;
---

<div class="single-item">
  <a
    href={href}
    class="text-link"
    target="_blank"
    rel="noopener noreferrer"
  >
    <h3>{title}</h3>
  </a>
  <div class="project-desc project-desc-list w-richtext">
    <ul>
      {desc.map((item) => <li>{item}</li>)}
    </ul>
  </div>
  <div class="mini-label-white">Technologies &amp; tools</div>
  <div class="chips-container">
    {tech.map((techItem) => <div class="single-chip">{techItem}</div>)}
  </div>
</div>
